h2 {
  color: blue;
}

.awesome {
  color: red;
}

.ninja {
  border: 2px solid indigo;
}

#rockstar {
  font-family: sans-serif;
}

p.awesome {
  background-color: #ccc;
}

p .awesome {
  background-color: #bada55;
}

.selectors > p {
  font-weight: bold;
}

.selectors > buddha { /* does not work */
  font-weight: normal;
}

.selectors img {
  border: 2px solid darkslateblue;
}
